@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply box-border
}

body{
  background-color: #000000;
  font-family: 'Inter', sans-serif;
}

h6,h3,h1{
  color: #FFFFFF;
}

p{
  color: #FFFFFF;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 2px;
}

::-webkit-scrollbar-thumb{
  background: #888;

}

@layer utilities {
 .container-snap::-webkit-scrollbar{
    display: none;
  }

}
